@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    
}

:root{
    --cor1: #00F5D8;
    --cor2: #22CAB7;
    --cor3: #35A093;
    --cor4: #3B756E;
    --cor5: #324B48;
}

body{
    background-color: rgb(159, 190, 182);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}



#cabecalho-principal{
    background-image: linear-gradient(var(--cor4), var(--cor3));
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.463);
}

header > div{
    padding: 4em 0;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

header > div > h1{
    margin-bottom: 0.5em;
    font-size: 3em;
}

nav{
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

nav > ul > li{
    display: inline-block;
    margin: 0.4em 0;
}

nav > ul > li > a{
    border-radius: 4px 4px 4px 4px;
    padding: 0.4em 1.3em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li > a:hover{
    transition: 0.5s;
    background-color: var(--cor2);
    color: var(--cor5);
}

main{
    margin: auto;
    max-width: 900px;
    background-color: whitesmoke;
    padding: 2em 1em;
    line-height: 1.5em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.345);
    margin-bottom: 1em;
}

main img{
    width: 100%;
}

main p{
    margin: 1.5em 0;
}

#bugdroid{
    max-width: 50%;
}

.titulo{
    padding: 0.1em;
    background-image: linear-gradient(to right, #00f5d863, rgba(255, 255, 255, 0));
    color: var(--cor5);
    margin: 0.5em 0;
    font-size: 1.5em;
    font-family: 'idroid', sans-serif;
}

#tituloPrincipal{
    background-image: none;
    font-size: 1.6rem;
}

main > section > article > p{
    text-align: justify;
    text-indent: 1em;
}

.container-imagem{
    display: flex;
    justify-content: center;
    margin: 1em;
}

#div-video{
    display: flex;
    background-color: var(--cor4);
    justify-content: center;
    max-width: 100%;
    padding: 1.5em 1em;
}

#cabecalho-tabela{
    padding: 0.3em 0.5em;
    margin-top: 1.5em;
    background-color: var(--cor4);
    color: rgb(237, 237, 237);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 0px 3px #000000a3;
}

#quadrado{
    background-color: var(--cor2);
    padding: 1em 0.5em;
    text-align: justify;
    text-indent: 1em;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 3px #000000a3;
    margin-bottom: 1em;

}

ul{
    list-style-position: inside;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#lista{
    display: flex;
    column-gap: 20em;
    flex-wrap: wrap;
    margin: 1em 0;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

.links{
    background-color: #00ffe147;
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    padding: 0.1em;
}

.links::before{
    content: "\1F517";
}